---
import Boton from "../BotonDifuminado.astro";
const {inicial} = Astro.props
---

<ul class="lg:flex lg:gap-x-2 w-full justify-center my-4 py-2" id={inicial}>
    <div class="md:flex gap-x-2 md:w-full lg:w-fit justify-center">
        <div class="flex gap-x-2 md:w-fit w-full justify-center">
            <Boton ciencia="maths" direccion="/en/articles/maths"/>
            <Boton ciencia="biology" direccion="/en/articles/biology"/>
            <Boton ciencia="geology" direccion="/en/articles/geology"/>
        </div>
        <div class="flex gap-x-2 md:w-fit w-full justify-center my-3 md:m-0">
            <Boton ciencia="physics" direccion="/en/articles/physics"/>
            <Boton ciencia="chemistry" direccion="/en/articles/chemistry"/>
            <Boton ciencia="technology" direccion="/en/articles/technology"/>
        </div>
    </div>
    <div class="flex gap-x-2 w-full lg:w-fit justify-center md:mt-3 lg:m-0">
        <Boton ciencia="coding" direccion="/en/articles/coding"/>
        <Boton ciencia="scientifics" direccion="/en/articles/scientifics"/>
    </div>
</ul>